@model bool

<div class="navbar navbar-inverse bg-inverse" role="navigation">
    <div class="row">
        <a class="col navbar-brand" href="/">SPORTS STORE</a>
        @if (Model)
        {
            <div class="col-4 text-right">
                @await Component.InvokeAsync("CartSummary")
            </div>
        }
        else
        {
            <div class="text-right col navbar-brand">Admin Panel</div>
        }
    </div>
</div>